.cart-container {
    padding: 2rem 4rem;
}

.cart-container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.cart-container .cart__titles {
    margin: 2rem 0 1rem 0;
}

.cart-container .cart__titles h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-container .cart__titles .product-title {
    padding-left: 0.5rem;
}

.cart-container .cart__titles .total {
    padding-right: 0.5rem;
    justify-self: right;
}

.cart__item, .cart-container .cart__titles {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.cart__item {
    border-top: 1px solid #ccc;
    padding: 1rem 0;
}

.cart__item .cart-product {
    display: flex;
}

.cart__item .cart-product img {
    width: 150px;
    max-width: 100%;
    margin-right: 1rem;
}

.cart__item .cart-product h3 {
    font-weight: 400;
}

.cart__item .cart-product button {
    border: none;
    outline: none;
    margin-top: 0.7rem;
    cursor: pointer;
    background: transparent;
    color: gray;
    transition: 0.2s ease-in-out;
}

.cart__item .cart-product button:hover {
    color: #000;
}

.cart-product__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 0.5rem 0;
}

.cart-product__quantity button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
}

.cart-product__total {
    padding-right: 0.5rem;
    justify-self: right;
    font-weight: 700;
}

.cart__summary { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid gray;
    padding: 2rem 0;
}

.cart__summary .clear-cart {
    width: 130px;
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    border: 0.5px solid gray;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: gray;
}

.cart__summary .clear-cart:hover {
    color: #000;
}

.cart__checkout {
    width: 270px;
    max-width: 100%;
}

.cart__checkout .cart__subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cart__checkout .cart__subtotal .cart__subtotal-price {
    font-weight: 700;
}

.cart__checkout {
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;
}

.cart__checkout button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem;
    font-weight: 400;
    border: none;
    outline: none;
    border: none;
    background-color: #4d50f5;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.cart__checkout button:hover {
    background-color: #3c3fc7;
}

.start-shopping, 
.continue-shopping { 
    margin-top: 1rem;
}

.start-shopping a,
.continue-shopping a {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.start-shopping a:hover,
.continue-shopping a:hover {
    color: #000;
}

.start-shopping a span,
.continue-shopping a span {
    margin-left: 0.5rem;
}

.cart--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
}

.cart--empty p {
    font-size: 20px;
    font-weight: 700;
}

.cart--empty .start-shopping a,  .cart--empty .start-shopping a span{
    font-size: 20px;
}

.checkout--not-logged {
    background-color: rgb(207, 207, 46) !important;
    color: black !important;
}

.checkout--not-logged:hover {
    background-color: #f5e600 !important;
    color: black !important;
}