.nav-bar {
    min-height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 4rem;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

.nav-bar h2 { 
    font-size: 40px;
}

.nav-bag {
    display: flex;
    align-items: center;
}

.nav-bag__bag-icno {
    display: flex;
    align-items: center;
}

.bag-quantiti { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #4d50f5;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin-left: 5px;
}

.cart__links a, 
.cart__links p {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cart__links a:hover,
.cart__links p:hover {
    color: #4d50f5;
}